@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Overpass:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-up:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6257fe;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.1875rem 2.875rem;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #100c46;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.7777777778;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
  transition: -webkit-box-shadow 0.5s ease 0s;
  -o-transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
}

.button_blue {
  color: #fff;
  background-color: #6257fe;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: inline-block;
  padding: 0px 0;
  border: 1px solid #eee;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: Overpass;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.2678571429;
  white-space: nowrap;
}

.title_blue {
  color: #100c46;
}

.title_center {
  text-align: center;
}

.text {
  line-height: 1.6;
}

.text_white {
  color: #fff;
}

.text_blue {
  color: rgba(16, 12, 70, 0.8);
}

.subtitle {
  font-size: 1rem;
  line-height: 1.375;
}

.subtitle_center {
  text-align: center;
}

[data-watch] {
  -webkit-transform: translate(0px, 3.125rem);
      -ms-transform: translate(0px, 3.125rem);
          transform: translate(0px, 3.125rem);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

[data-watch]._watcher-view {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.header {
  background-color: #6257fe;
}

.header__logo {
  position: absolute;
  padding: 1.25rem 0rem 0rem 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.625rem;
  z-index: 5;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__image img {
  max-width: 100%;
}

.header__social {
  position: absolute;
  width: 10.125rem;
  height: 4rem;
  top: 0;
  right: 0;
  background-color: #6257fe;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5625rem;
}

.logo-header__label {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
}

.logo-header__label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.625rem;
  left: 0.625rem;
  width: 1.1875rem;
  height: 1.1875rem;
  background-color: #6257fe;
  border-radius: 0px 9.5px 9.5px 0px;
}

.logo-header__name {
  font-family: Overpass;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  color: #fff;
}

.logo-header__name span {
  display: block;
  font-family: "Open Sans";
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.body-header {
  color: #fff;
}

.body-header__subtitle:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.body-header__title:not(:last-child) {
  margin-bottom: 0.5357142857em;
}

.body-header__text {
  margin-right: 0.625rem;
}

.body-header__text:not(:last-child) {
  margin-bottom: 3.35em;
}

.social__link {
  color: #fff;
  font-size: 1.3125rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.6;
  color: rgba(16, 12, 70, 0.8);
}

.button__up {
  color: #fff;
  background-color: #6257fe;
  font-size: 0.5rem;
  -webkit-transition: -webkit-box-shadow 0.8s ease 0s;
  transition: -webkit-box-shadow 0.8s ease 0s;
  -o-transition: box-shadow 0.8s ease 0s;
  transition: box-shadow 0.8s ease 0s;
  transition: box-shadow 0.8s ease 0s, -webkit-box-shadow 0.8s ease 0s;
}

.about-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background-color: #100c46;
}

.about-page__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about-page__image img {
  max-width: 100%;
  width: 100%;
}

.body-about-page__subtitle:not(:last-child) {
  margin-bottom: 0.4375em;
}

.body-about-page__title:not(:last-child) {
  margin-bottom: 0.5357142857em;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 72%;
          flex: 1 1 72%;
  padding-bottom: 2.5rem;
}

.services__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services__image img {
  max-width: 100%;
}

.body-services__subtitle:not(:last-child) {
  margin-bottom: 0.4375em;
}

.card-item:not(:last-child) {
  margin-bottom: 0.7142857143em;
}

.card-item__icon:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.card-item__title {
  white-space: nowrap;
  padding-left: 5.5625rem;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.4545454545;
  color: #100c46;
  position: relative;
}

.card-item__title:not(:last-child) {
  margin-bottom: 1em;
}

.card-item__title::before {
  content: "";
  position: absolute;
  height: 0.0625rem;
  width: 4.8125rem;
  left: 0;
  top: 50%;
  background-color: #100c46;
}

.image-services {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #6257fe;
}

.portfolio__subtitle:not(:last-child) {
  margin-bottom: 0.5em;
}

.portfolio__title:not(:last-child) {
  margin-bottom: 1.375em;
}

.portfolio__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.4375rem;
}

.body-portfolio__item img {
  max-width: 100%;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.team__subtitle:not(:last-child) {
  margin-bottom: 0.5em;
}

.team__title:not(:last-child) {
  margin-bottom: 1.375em;
}

.team__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.4375rem;
}

.body-team__item {
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.8s ease 0s;
  transition: -webkit-box-shadow 0.8s ease 0s;
  -o-transition: box-shadow 0.8s ease 0s;
  transition: box-shadow 0.8s ease 0s;
  transition: box-shadow 0.8s ease 0s, -webkit-box-shadow 0.8s ease 0s;
}

.body-team__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
  position: absolute;
  width: 18.75rem;
  height: 5rem;
  left: 0;
  bottom: 0;
  padding: 0.75rem 0.9375rem;
  background-color: rgba(98, 87, 254, 0.8);
}

.body-team__author {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #fff;
}

.body-team__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 2;
}

.body-team__profession {
  font-size: 0.875rem;
  line-height: 2.2857142857;
}

.body-team__social-link {
  color: #fff;
}

.contact {
  padding-top: 0.9375rem;
  position: relative;
}

.contact::after {
  content: "";
  background-color: #6257fe;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  height: 100%;
  z-index: 1;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__subtitle {
  position: relative;
  z-index: 2;
}

.contact__title {
  position: relative;
  z-index: 2;
}

.contact__title:not(:last-child) {
  margin-bottom: 1.375em;
}

.body-contact__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.1875rem;
  position: relative;
  z-index: 2;
}

.body-contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27.6875rem;
          flex: 0 1 27.6875rem;
}

.body-contact__location {
  position: relative;
}

.body-contact__location::after {
  content: "";
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #6257fe;
  top: 48.7844408428%;
  left: 50.452079566%;
  z-index: 3;
}

.body-contact__location::before {
  content: "";
  position: absolute;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  background-color: rgba(98, 87, 254, 0.4);
  top: 46.677471637%;
  left: 48.1012658228%;
  z-index: 2;
}

.body-contact__location img {
  max-width: 100%;
}

.body-contact__call {
  margin-top: 6rem;
}

.form {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  gap: 1.125rem;
}

.form__input {
  background-color: #f4f3ff;
  height: 5.625rem;
  padding: 0.4375rem 1.1875rem;
  width: 100%;
}

.form__input::-webkit-input-placeholder {
  color: rgba(16, 12, 70, 0.8);
}

.form__input::-moz-placeholder {
  color: rgba(16, 12, 70, 0.8);
}

.form__input:-ms-input-placeholder {
  color: rgba(16, 12, 70, 0.8);
}

.form__input::-ms-input-placeholder {
  color: rgba(16, 12, 70, 0.8);
}

.form__input::placeholder {
  color: rgba(16, 12, 70, 0.8);
}

.form__input:focus::-webkit-input-placeholder {
  color: #6257fe;
}

.form__input:focus::-moz-placeholder {
  color: #6257fe;
}

.form__input:focus:-ms-input-placeholder {
  color: #6257fe;
}

.form__input:focus::-ms-input-placeholder {
  color: #6257fe;
}

.form__input:focus::placeholder {
  color: #6257fe;
}

.form__button {
  margin-bottom: 0.9375rem;
}

.form textarea.form__input {
  height: 12.8125rem;
  resize: vertical;
}

.form__error {
  padding: 0.3125rem 1.5rem 0rem 1.5rem;
  color: red;
  font-size: 0.75rem;
}

.list-body-contact__item {
  color: #fff;
  max-width: 9.375rem;
}

.list-body-contact__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-body-contact__head:not(:last-child) {
  margin-bottom: 0.625rem;
}

.list-body-contact__title {
  font-weight: 600;
  line-height: 1.6;
}

.list-body-contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.list-body-contact__text {
  font-size: 1rem;
  line-height: 1.375;
}

@media (min-width: 41.875em) {
  .body-services__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(18.125rem, 1fr))[2];
    grid-template-columns: repeat(2, minmax(18.125rem, 1fr));
  }

  .card-item__text {
    max-width: 18.5rem;
  }
}

@media (min-width: 52.8125em) {
  .about-page__image {
    -webkit-transform: translate(-14%, 0px);
        -ms-transform: translate(-14%, 0px);
            transform: translate(-14%, 0px);
  }

  .body-about-page__text {
    max-width: 29.75rem;
  }
}

@media (min-width: 61.99875em) {
  .body-header__text {
    max-width: 25rem;
  }
}

@media (min-width: 71.875em) {
  .image-services__mobil {
    -webkit-transform: translate(0, 43%);
        -ms-transform: translate(0, 43%);
            transform: translate(0, 43%);
  }
}

@media (min-width: 81.25em) {
  .title {
    font-size: 3.5rem;
  }

  .text {
    font-size: 1.25rem;
  }

  .header__content {
    row-gap: 3.125rem;
  }

  .header__body {
    padding-top: 16.0625rem;
  }

  .header__body {
    padding-left: 5.3125rem;
  }

  .header__body {
    padding-bottom: 19.5rem;
  }

  .footer {
    padding-top: 7rem;
  }

  .footer {
    padding-bottom: 5.125rem;
  }

  .button__up {
    width: 4.375rem;
  }

  .button__up {
    height: 4.375rem;
  }

  .about-page__body {
    padding-top: 14.0625rem;
  }

  .about-page__body {
    padding-bottom: 14.0625rem;
  }

  .about-page__body {
    padding-right: 10rem;
  }

  .about-page__body {
    padding-left: 5.3125rem;
  }

  .services__body {
    padding-right: 6.5rem;
  }

  .services__body {
    padding-left: 5.3125rem;
  }

  .body-services {
    padding-top: 7.5rem;
  }

  .body-services__title:not(:last-child) {
    margin-bottom: 5.3125rem;
  }

  .card-item__title {
    font-size: 1.375rem;
  }

  .portfolio {
    padding-top: 9.125rem;
  }

  .portfolio {
    padding-bottom: 6.25rem;
  }

  .team {
    padding-top: 4.6875rem;
  }

  .team {
    padding-bottom: 9.25rem;
  }

  .contact {
    padding-bottom: 6.1875rem;
  }

  .form {
    padding-top: 2.625rem;
  }

  .list-body-contact__item:not(:last-child) {
    margin-bottom: 5.3125rem;
  }
}

@media (min-width: 90em) {
  .body-services__items {
    gap: 4rem;
  }

  .image-services {
    padding-top: 12.5rem;
  }

  .image-services {
    padding-bottom: 12.5rem;
  }

  .image-services__man {
    -webkit-transform: translate(-14%, 0px);
        -ms-transform: translate(-14%, 0px);
            transform: translate(-14%, 0px);
  }
}

@media (min-width: 100em) {
  .form {
    margin-right: 5.5625rem;
  }
}

@media (max-width: 90em) {
  .services__content {
    display: block;
  }

  .image-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 2.1875rem;
  }
}

@media (max-width: 75em) {
  .form {
    margin-right: 0.9375rem;
  }
}

@media (max-width: 50em) {
  .form {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.125rem;
  }

  .text {
    font-size: 0.75rem;
  }

  .header__content {
    row-gap: 0.625rem;
  }

  .header__body {
    padding-top: 6.25rem;
  }

  .header__body {
    padding-left: 1.25rem;
  }

  .header__body {
    padding-bottom: 1.25rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .button__up {
    width: 3.125rem;
  }

  .button__up {
    height: 3.125rem;
  }

  .about-page__body {
    padding-top: 1.875rem;
  }

  .about-page__body {
    padding-bottom: 1.875rem;
  }

  .about-page__body {
    padding-right: 1.875rem;
  }

  .about-page__body {
    padding-left: 1.25rem;
  }

  .services__body {
    padding-right: 1.875rem;
  }

  .services__body {
    padding-left: 1.25rem;
  }

  .body-services {
    padding-top: 2.5rem;
  }

  .body-services__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .card-item__title {
    font-size: 1rem;
  }

  .image-services {
    padding-top: 1.875rem;
  }

  .image-services {
    padding-bottom: 1.875rem;
  }

  .portfolio {
    padding-top: 1.875rem;
  }

  .portfolio {
    padding-bottom: 1.875rem;
  }

  .team {
    padding-top: 1.875rem;
  }

  .team {
    padding-bottom: 1.875rem;
  }

  .contact {
    padding-bottom: 1.875rem;
  }

  .form {
    padding-top: 0.9375rem;
  }

  .list-body-contact__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 56.25em) {
  .body-contact__location {
    display: none;
  }

  .form__button {
    width: 100%;
  }
}

@media (max-width: 56.25em) and (max-width: 20em) {
  .body-contact__list {
    margin-left: 0.625rem;
  }
}

@media (max-width: 52.8125em) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-page__content {
    display: block;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }
}

@media (max-width: 37.5em) {
  .contact {
    background-color: #6257fe;
  }

  .contact__body {
    display: block;
  }

  .contact__subtitle {
    color: #fff;
  }

  .body-contact__map {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-contact__call {
    margin-top: 1.25rem;
  }

  .body-contact__list {
    margin: 0;
  }

  .form__button {
    background-color: #fff;
    color: #100c46;
  }
}

@media (max-width: 29.99875em) {
  .button {
    padding: 0.875rem;
  }

  .header__body {
    padding-right: 1.25rem;
  }

  .body-header__button {
    width: 100%;
  }
}

@media (max-width: 28.125em) {
  .body-services__items {
    gap: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 81.25em) {
@supports (font-size: clamp( 2.125rem , 1.6760204082rem  +  2.2448979592vw , 3.5rem )) {
    .title {
      font-size: clamp( 2.125rem , 1.6760204082rem  +  2.2448979592vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.6760204082rem  +  2.2448979592vw , 3.5rem )) {
    .title {
      font-size: calc(2.125rem + 1.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5867346939rem  +  0.8163265306vw , 1.25rem )) {
    .text {
      font-size: clamp( 0.75rem , 0.5867346939rem  +  0.8163265306vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5867346939rem  +  0.8163265306vw , 1.25rem )) {
    .text {
      font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 61.25);
    }
}

@supports (row-gap: clamp( 0.625rem , -0.1913265306rem  +  4.0816326531vw , 3.125rem )) {
    .header__content {
      row-gap: clamp( 0.625rem , -0.1913265306rem  +  4.0816326531vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , -0.1913265306rem  +  4.0816326531vw , 3.125rem )) {
    .header__content {
      row-gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.0459183673rem  +  16.0204081633vw , 16.0625rem )) {
    .header__body {
      padding-top: clamp( 6.25rem , 3.0459183673rem  +  16.0204081633vw , 16.0625rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.0459183673rem  +  16.0204081633vw , 16.0625rem )) {
    .header__body {
      padding-top: calc(6.25rem + 9.8125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem )) {
    .header__body {
      padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem )) {
    .header__body {
      padding-left: calc(1.25rem + 4.0625 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -4.7091836735rem  +  29.7959183673vw , 19.5rem )) {
    .header__body {
      padding-bottom: clamp( 1.25rem , -4.7091836735rem  +  29.7959183673vw , 19.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -4.7091836735rem  +  29.7959183673vw , 19.5rem )) {
    .header__body {
      padding-bottom: calc(1.25rem + 18.25 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.2015306122rem  +  8.3673469388vw , 7rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 0.2015306122rem  +  8.3673469388vw , 7rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.2015306122rem  +  8.3673469388vw , 7rem )) {
    .footer {
      padding-top: calc(1.875rem + 5.125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8137755102rem  +  5.306122449vw , 5.125rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , 0.8137755102rem  +  5.306122449vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8137755102rem  +  5.306122449vw , 5.125rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 3.25 * (100vw - 20rem) / 61.25);
    }
}

@supports (width: clamp( 3.125rem , 2.7168367347rem  +  2.0408163265vw , 4.375rem )) {
    .button__up {
      width: clamp( 3.125rem , 2.7168367347rem  +  2.0408163265vw , 4.375rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.7168367347rem  +  2.0408163265vw , 4.375rem )) {
    .button__up {
      width: calc(3.125rem + 1.25 * (100vw - 20rem) / 61.25);
    }
}

@supports (height: clamp( 3.125rem , 2.7168367347rem  +  2.0408163265vw , 4.375rem )) {
    .button__up {
      height: clamp( 3.125rem , 2.7168367347rem  +  2.0408163265vw , 4.375rem );
    }
}

@supports not (height: clamp( 3.125rem , 2.7168367347rem  +  2.0408163265vw , 4.375rem )) {
    .button__up {
      height: calc(3.125rem + 1.25 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -2.1045918367rem  +  19.8979591837vw , 14.0625rem )) {
    .about-page__body {
      padding-top: clamp( 1.875rem , -2.1045918367rem  +  19.8979591837vw , 14.0625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -2.1045918367rem  +  19.8979591837vw , 14.0625rem )) {
    .about-page__body {
      padding-top: calc(1.875rem + 12.1875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -2.1045918367rem  +  19.8979591837vw , 14.0625rem )) {
    .about-page__body {
      padding-bottom: clamp( 1.875rem , -2.1045918367rem  +  19.8979591837vw , 14.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.1045918367rem  +  19.8979591837vw , 14.0625rem )) {
    .about-page__body {
      padding-bottom: calc(1.875rem + 12.1875 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-right: clamp( 1.875rem , -0.7780612245rem  +  13.2653061224vw , 10rem )) {
    .about-page__body {
      padding-right: clamp( 1.875rem , -0.7780612245rem  +  13.2653061224vw , 10rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , -0.7780612245rem  +  13.2653061224vw , 10rem )) {
    .about-page__body {
      padding-right: calc(1.875rem + 8.125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem )) {
    .about-page__body {
      padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem )) {
    .about-page__body {
      padding-left: calc(1.25rem + 4.0625 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-right: clamp( 1.875rem , 0.3647959184rem  +  7.5510204082vw , 6.5rem )) {
    .services__body {
      padding-right: clamp( 1.875rem , 0.3647959184rem  +  7.5510204082vw , 6.5rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 0.3647959184rem  +  7.5510204082vw , 6.5rem )) {
    .services__body {
      padding-right: calc(1.875rem + 4.625 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem )) {
    .services__body {
      padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem )) {
    .services__body {
      padding-left: calc(1.25rem + 4.0625 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.8673469388rem  +  8.1632653061vw , 7.5rem )) {
    .body-services {
      padding-top: clamp( 2.5rem , 0.8673469388rem  +  8.1632653061vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.8673469388rem  +  8.1632653061vw , 7.5rem )) {
    .body-services {
      padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.7525510204rem  +  5.612244898vw , 5.3125rem )) {
    .body-services__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.7525510204rem  +  5.612244898vw , 5.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.7525510204rem  +  5.612244898vw , 5.3125rem )) {
    .body-services__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.4375 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem )) {
    .card-item__title {
      font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem )) {
    .card-item__title {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.4923469388rem  +  11.8367346939vw , 9.125rem )) {
    .portfolio {
      padding-top: clamp( 1.875rem , -0.4923469388rem  +  11.8367346939vw , 9.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.4923469388rem  +  11.8367346939vw , 9.125rem )) {
    .portfolio {
      padding-top: calc(1.875rem + 7.25 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 6.25rem )) {
    .portfolio {
      padding-bottom: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 6.25rem )) {
    .portfolio {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9566326531rem  +  4.5918367347vw , 4.6875rem )) {
    .team {
      padding-top: clamp( 1.875rem , 0.9566326531rem  +  4.5918367347vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9566326531rem  +  4.5918367347vw , 4.6875rem )) {
    .team {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.5331632653rem  +  12.0408163265vw , 9.25rem )) {
    .team {
      padding-bottom: clamp( 1.875rem , -0.5331632653rem  +  12.0408163265vw , 9.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.5331632653rem  +  12.0408163265vw , 9.25rem )) {
    .team {
      padding-bottom: calc(1.875rem + 7.375 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4668367347rem  +  7.0408163265vw , 6.1875rem )) {
    .contact {
      padding-bottom: clamp( 1.875rem , 0.4668367347rem  +  7.0408163265vw , 6.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4668367347rem  +  7.0408163265vw , 6.1875rem )) {
    .contact {
      padding-bottom: calc(1.875rem + 4.3125 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.3864795918rem  +  2.7551020408vw , 2.625rem )) {
    .form {
      padding-top: clamp( 0.9375rem , 0.3864795918rem  +  2.7551020408vw , 2.625rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.3864795918rem  +  2.7551020408vw , 2.625rem )) {
    .form {
      padding-top: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem )) {
    .list-body-contact__item:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.0765306122rem  +  6.6326530612vw , 5.3125rem )) {
    .list-body-contact__item:not(:last-child) {
      margin-bottom: calc(1.25rem + 4.0625 * (100vw - 20rem) / 61.25);
    }
}
}

@media (min-width: 28.125em) and (max-width: 90em) {
@supports (gap: clamp( 0.625rem , -0.9090909091rem  +  5.4545454545vw , 4rem )) {
    .body-services__items {
      gap: clamp( 0.625rem , -0.9090909091rem  +  5.4545454545vw , 4rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.9090909091rem  +  5.4545454545vw , 4rem )) {
    .body-services__items {
      gap: calc(0.625rem + 3.375 * (100vw - 28.125rem) / 61.875);
    }
}
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (padding-top: clamp( 1.875rem , -1.1607142857rem  +  15.1785714286vw , 12.5rem )) {
    .image-services {
      padding-top: clamp( 1.875rem , -1.1607142857rem  +  15.1785714286vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -1.1607142857rem  +  15.1785714286vw , 12.5rem )) {
    .image-services {
      padding-top: calc(1.875rem + 10.625 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.1607142857rem  +  15.1785714286vw , 12.5rem )) {
    .image-services {
      padding-bottom: clamp( 1.875rem , -1.1607142857rem  +  15.1785714286vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.1607142857rem  +  15.1785714286vw , 12.5rem )) {
    .image-services {
      padding-bottom: calc(1.875rem + 10.625 * (100vw - 20rem) / 70);
    }
}
}

@media (max-width: 56.25em) and (min-width: 81.25em) {
  .body-contact__list {
    margin-left: 7.5rem;
  }
}

@media (max-width: 56.25em) and (min-width: 20em) and (max-width: 81.25em) {
@supports (margin-left: clamp( 0.625rem , -1.6198979592rem  +  11.2244897959vw , 7.5rem )) {
    .body-contact__list {
      margin-left: clamp( 0.625rem , -1.6198979592rem  +  11.2244897959vw , 7.5rem );
    }
}

@supports not (margin-left: clamp( 0.625rem , -1.6198979592rem  +  11.2244897959vw , 7.5rem )) {
    .body-contact__list {
      margin-left: calc(0.625rem + 6.875 * (100vw - 20rem) / 61.25);
    }
}
}

@media (min-width: 75em) and (max-width: 100em) {
@supports (margin-right: clamp( 0.9375rem , -12.9375rem  +  18.5vw , 5.5625rem )) {
    .form {
      margin-right: clamp( 0.9375rem , -12.9375rem  +  18.5vw , 5.5625rem );
    }
}

@supports not (margin-right: clamp( 0.9375rem , -12.9375rem  +  18.5vw , 5.5625rem )) {
    .form {
      margin-right: calc(0.9375rem + 4.625 * (100vw - 75rem) / 25);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.8);
  }

  .button__up:hover {
    -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.8);
  }

  .body-portfolio__item:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .body-team__item:hover {
    -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
  }
}